<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="listMapper" >
	<!-- 안에 쿼리문 넣기 ( select 등 )  -->
	
	
	<!-- 전체데이터   -->
	<select id="getLists" resultType="com.todolist.list.HomeDTO">
		select * from(
		select rownum rnum, data.* from (
		select listNum,title,content,createDate,closingDate,status,priorityNum from list
		order by listNum desc) data)
	</select>
	
	
	<insert id="listInsert" parameterType="com.todolist.list.HomeDTO">
	insert into list (listNum,title,content,createDate,status,priorityNum) 
	values (1,#{title},#{content},sysdate,0,3)
	</insert>
</mapper>
